/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

/* Container Styles */
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #949494, #5e20ff);
    padding: 10px;
}

/* Todo App Styles */
.todo-app{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 540px;
    background: linear-gradient(135deg, #00154b 0, #760bb7 100%);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/* Todo App Header Styles */
.todo-app h2{
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 115px;
    font-size: 40px;
}

.todo-app h2 img{
    width: 50px;
    margin-left: 10px;
}

/* Row Styles */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Input Styles */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

/* Button Styles */
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #3d74ec;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Todo List Styles */
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../assets/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(../assets/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #6B0CAD;
}